#trois_parties{
    display: flex;
    flex-direction: row;
}

#partie_gauche, #partie_droite{
    z-index: 5;
    width: 15%;
    height: 400px;
    background-color:#804707;
}

/* Carousel */

#carousel {
    height: 400px;
    top: 50%;
    overflow: hidden;
    width:70%;
    background-image: url("../images/fond-bois.png");
  }
  
  #carousel div {
    position: absolute;
    transition: transform 1s, left 1s, opacity 1s, z-index 0s;
    opacity: 1;
    height: 400px;
    display: flex;
    align-items: center;
    cursor: pointer;
  }
  
  #carousel img {
    width: 400px;
    transition: width 1s;
  }
  
  #carousel div.hideLeft {
    left: 10%;
    opacity: 0;
    transform: translateY(20%) translateX(-50%);
  }
  #carousel div.hideLeft img {
    width: 200px;
  }
  #carousel div.hideRight {
    left: 90%;
    opacity: 0;
    transform: translateY(20%) translateX(-50%);
  }
  #carousel div.hideRight img {
    width: 200px;
  }
  #carousel div.prev {
    z-index: 5;
    left: 35%;
    transform: translateY(5%) translateX(-50%);
  }
  #carousel div.prev img {
    width: 300px;
  }
  #carousel div.prevLeftSecond {
    z-index: 4;
    left: 22.5%;
    transform: translateY(10%) translateX(-50%);
    opacity: 0.9;
  }
  #carousel div.prevLeftSecond img {
    width: 200px;
  }
  #carousel div.selected {
    z-index: 10;
    left: 50%;
    transform: translateY(0px) translateX(-50%);
  }
  #carousel div.next {
    z-index: 5;
    left: 65%;
    transform: translateY(5%) translateX(-50%);
  }
  #carousel div.next img {
    width: 300px;
  }
  #carousel div.nextRightSecond {
    z-index: 4;
    left: 77.5%;
    transform: translateY(10%) translateX(-50%);
    opacity: 0.9;
  }
  #carousel div.nextRightSecond img {
    width: 200px;
  }
  
  #chevrons_position{
      position: relative
  }
  
  .chevrons{
      position: absolute;
      top: 50%; left: 50%; 
      gap:450px;
      opacity: 0.9;
      display: flex;
      justify-content: center;
      z-index: 15;
      transform: translateY(-350%) translateX(-50%);
  }
  
  .chevrons i{
      font-size: 60px;
      color:rgb(235, 127, 25);
      padding: 0;
      margin: 0;
  }

#prev, #next {
  cursor: pointer;
}


.category,.subcategory{
  color: white;
  font-family: Papyrus;
  margin: 15px;
  cursor: pointer;
  font-weight: bold;
}
.subcategory{
  display: flex;
  justify-content: center;
}
.category:hover, .subcategory:hover {
  text-decoration: underline;
  text-underline-offset: 3px;
  text-decoration-thickness: 1.5px;
}

[id^='sub_of_category'] i {
  font-size: 30px;
  margin: 20px;
  cursor: pointer;
}
[id^='sub_of_category'] {
  color: white;
  font-family: Papyrus;
  display: none;
}
