#trois_parties {
  display: flex;
  flex-direction: row;
}

#partie_gauche,
#partie_droite {
  z-index: 5;
  width: 15%;
  height: 70%;
  background-color: #804707;
}

#partie_droite {
  display: flex;
  align-items: center;
  writing-mode: vertical-rl;
  text-orientation: mixed;
  overflow: hidden;
}

.bandeau {
  height: fit-content;
  white-space: nowrap;
  font-size: 60px;
  font-weight: 500;
  animation: Scroll 30s linear infinite;
  font-family: "Mrs Sheppards";
  color: burlywood;
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+/Edge */
  user-select: none; /* Standard */
}

@keyframes Scroll {
  0% {
    transform: translateY(-100%);
  }
}


/* Carousel */

#carousel, #partieCentre{
  height: 500px;
  top: 50%;
  overflow: hidden;
  width: 70%;
  background-image: url("../images/fond-bois.png");
}

#carousel div {
  position: absolute;
  transition: transform 1s, left 1s, opacity 1s, z-index 0s;
  opacity: 1;
  height: 400px;
  display: flex;
  align-items: center;
}

#carousel img {
  width: 400px;
  transition: width 1s;
}

#carousel div.hideLeft {
  left: 10%;
  opacity: 0;
  transform: translateY(20%) translateX(-50%);
}

#carousel div.hideLeft img {
  width: 200px;
}

#carousel div.hideRight {
  left: 90%;
  opacity: 0;
  transform: translateY(20%) translateX(-50%);
}

#carousel div.hideRight img {
  width: 200px;
}

#carousel div.prev {
  z-index: 5;
  left: 35%;
  transform: translateY(5%) translateX(-50%);
  cursor: pointer;
}

#carousel div.prev img {
  width: 300px;
}

#carousel div.prevLeftSecond {
  z-index: 4;
  left: 22.5%;
  transform: translateY(10%) translateX(-50%);
  opacity: 0.9;
  cursor: pointer;
}

#carousel div.prevLeftSecond img {
  width: 200px;
}

#carousel div.selected {
  z-index: 10;
  left: 50%;
  transform: translateY(0px) translateX(-50%);
  cursor: pointer;
}

#carousel div.next {
  z-index: 5;
  left: 65%;
  transform: translateY(5%) translateX(-50%);
  cursor: pointer;
}

#carousel div.next img {
  width: 300px;
}

#carousel div.nextRightSecond {
  z-index: 4;
  left: 77.5%;
  transform: translateY(10%) translateX(-50%);
  opacity: 0.9;
  cursor: pointer;
}

#carousel div.nextRightSecond img {
  width: 200px;
}

#chevrons_position {
  position: relative
}

.chevrons {
  position: absolute;
  left: 50%;
  gap: 450px;
  opacity: 0.9;
  display: flex;
  justify-content: center;
  z-index: 8;
  transform: translateY(-520%) translateX(-50%);
}

.chevrons i {
  font-size: 60px;
  color: rgb(235, 127, 25);
  padding: 0;
  margin: 0;
}

#prev,
#next {
  cursor: pointer;
}


.category,
.subcategory {
  color: white;
  font-family: Papyrus;
  font-weight: bold;
  margin: 15px;
  cursor: pointer;
}

.subcategory {
  display: flex;
  justify-content: center;
}

.category:hover,
.subcategory:hover {
  text-decoration: underline;
  text-underline-offset: 3px;
  text-decoration-thickness: 1.5px;
}

[id^='sub_of_category'] i {
  font-size: 30px;
  margin: 20px;
  cursor: pointer;
}

[id^='sub_of_category'] {
  color: white;
  font-family: Papyrus;
  display: none;
}

.products_list {
  margin: 50px auto;
  position: relative;
  width: 70%;
  height: 400px;
  /* va devenir display: flex */
  display: none;
  flex-direction: row;
  gap: 25px;


}

.product {
  background-color: burlywood;
  width: 100%;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  border-radius: 6px;
  overflow: hidden;
  transition: 0.5s;
  z-index: 100;
  cursor: pointer;
}

.product:hover {
  transform: scale(1.1);
}

.image_product {
  height: 200px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.image_product img {
  height: 150px;
  width: 250px;
  border-radius: 6px;
  object-fit: cover;
}

.content {
  margin-top: 0px;
  margin-bottom: 30px;
  height: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: rgb(53, 33, 33);
}

.name {
  font-family: Papyrus;
}

.price {
  margin: 15px 0;
  font-weight: 400;
  color: rgb(53, 33, 33);
  padding: 10px 10%;
  border-radius: 100%;
  width: min-content;
  font-family: Papyrus;
  font-weight: bold;
}

.id_product {
  text-align: center;
  background-color: rgb(53, 33, 33);
  color: white;
  padding: 10px 10%;
  border-radius: 6px;
  font-family: Papyrus;
  cursor: pointer;
}