main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#progress-bar {
    position: relative;
    width: 700px;
    height: 15px;
    background-color: #ddd;
    border-radius: 10px;
    margin: 20px;
}

#progress {
    height: 100%;
    background-color: burlywood;
    border-radius: 10px;
    width: 23%;
}

#steps {
    position: absolute;
    top: -5px;
    display: flex;
    justify-content: space-evenly;
    width: 100%;
}

.step {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.step p:first-child {
    padding: 5px;
    background-color: gray;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.active p:first-child {
    background-color: burlywood;
}

#articles {
    display: grid;
    grid-gap: 30px;
    padding: 30px;
    align-items: center;
}

#articles p {
    font-size: 20px;
}

.article {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #ccc;
    border-radius: 5px;
    gap: 30px;
    padding: 30px;
    width: min-content;
    background-color: burlywood;
}

.article p {
    color: black;
}

.article img {
    max-width: 100px;
    max-height: 100px;
}

.qte_article {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.qte_article_nb {
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: center;
}

.article i {
    cursor: pointer;
    font-size: 20;
}

.total_price {
    width: max-content;
}

#total_price_items {
    display: flex;
    justify-content: center;
    font-size: 23px;
    font-weight: bold;
    padding: 20px;
    color: white;
}

#paiement {
    display: flex;
    align-items: right;
    justify-content: right;
    width: 100%;
    margin-bottom: 30px;
}

#paiement p {
    background-color: burlywood;
    padding: 10px;
    margin-right: 150px;
    border-radius: 5px;
    cursor: pointer;
}