main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#progress-bar {
    position: relative;
    width: 700px;
    height: 15px;
    background-color: #ddd;
    border-radius: 10px;
    margin: 20px;
    margin-bottom: 60px;
}

#progress {
    height: 100%;
    background-color: burlywood;
    border-radius: 10px;
    width: 50%;
}

#steps {
    position: absolute;
    top: -5px;
    display: flex;
    justify-content: space-evenly;
    width: 100%;
}

.step {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.step p:first-child {
    padding: 5px;
    background-color: gray;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.active p:first-child {
    background-color: burlywood;
}

form {
    margin-bottom: 50px;
}

h2 {
    display: flex;
    justify-content: center;
}

form p {
    padding: 30px;
}
  
label {
    display: block;
    font-weight: bold;
}

label span {
    font-weight: normal;
    font-size: 12px;
    color: gray;
}

#ville_zip {
    display: flex;
    gap: 10px;
}

#ville_zip div:last-child {
    width: 100%;
}
  
input[type="text"] {
    width: 100%;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    padding: 12px 20px;
    margin-bottom: 20px;
}
  
input[type="button"] {
    background-color: burlywood;
    color: white;
    font-size: 16px;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
} 

input[type="button"]:hover {
    background-color: rgb(185, 153, 112);
}

#submit_button {
    display: flex;
    justify-content: end;
}
  
.error {
    border: 3px solid red !important;
}  