footer{
    background-color: #663906;
    color: white;
}

main {
    background-color: #804707;
}

p, label {
    color: white;
}

#palette_footer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-right: 150px;
    padding-left: 150px;
}

#credits{
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-bottom: 10px;
    background-color: #70420e;
}

#icons_reseaux{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-right: 20px;
}

#icons_reseaux i {
    font-size: 30px;
    cursor: pointer;
}

footer h3{
    font-family: Papyrus;
    margin-bottom: 10px;
    margin-top: 5px;
}

footer h5{
    font-family: Papyrus;
    margin: 15px;
    cursor: pointer;
}

footer h5:hover {
    text-decoration: underline;
    text-underline-offset: 3px;
    text-decoration-thickness: 1.5px;
}

