main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.card-header {
    display: flex;
    justify-content: center;
}

label {
    margin-left: 10px;
}

.login-card {
    width: 400px;
    margin: 30px;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background-color: burlywood;
}

.login-card label {
    color: black;
}

.login-card p:first-child {
    color: black;
    padding: 15px;
    font-size: 22px;
    font-weight: bold;
}

.login-card input[type="text"],
.login-card input[type="password"],
.login-card input[type="date"],
.login-card input[type="email"],
.login-card input[type="number"] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    border-radius: 5px;
    font-size: 18px;
}

/* Style du bouton de connexion */
.login-card input[type="submit"] {
    width: 100%;
    background-color: #804707;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 17px;
}

.login-card input[type="button"] {
    width: 100%;
    background-color: #804707;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 17px;
}

/* Style du bouton de connexion lorsque le curseur est dessus */
.login-card input[type="submit"]:hover,
.login-card input[type="button"]:hover {
    background-color: #955308;
}

.row_container {
    display: flex;
    gap: 5px;
}

.column_container {
    display: flex;
    flex-direction: column;
}

#zip_column_container {
    width: 30%;
}

.error_input {
    border: 2px solid red !important;
}

.error_message {
    display: none;
    color: red !important;
    margin-bottom: 10px;
    font-size: 14px;
}

.error_p {
    display: block !important;
}

.error {
    color: red !important;
    margin-bottom: 10px;
    margin-left: 10px;
}

/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
    appearance: textfield;
}
 
/* Chrome */
input::-webkit-inner-spin-button,
input::-webkit-outer-spin-button { 
	-webkit-appearance: none;
	margin:0;
}
 
/* Opéra*/
input::-o-inner-spin-button,
input::-o-outer-spin-button { 
	-o-appearance: none;
	margin:0
}