* {
    padding: 0;
    margin: 0;
}

header {
    height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: burlywood;
}

#icons, #accueil {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-right: 50px;
    gap: 20px;
}


header img {
    height: 100%;
}

header input {
    padding: 10px;
    border-radius: 10px;
    width: 100%;
}

#search_bar {
    width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#search_bar2 {
    position: relative;
}

.resultBox{
    position: absolute;
    max-height: 280px;
    width: 100%;
}

.resultBox li{
  display: block;
  width: 100%;
  background-color: white;
  padding: 10px 0px;
}

.resultBox li:hover{
  background: #efefef;
}

header i {
    font-size: 25px;
    color: black;
}