* {
    font-family: 'Montserrat';
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0 auto;
}

/* tete de page */

header.header {
    display: flex;
    align-items: center;
}

section.top-page {
    background: url('../images/kitchen-utensils_214787-512.webp');
    background-size: cover;
    height: 80vh;
    padding: 25px;
}

/* page de bienvenue (landing page) */

.landing-page {
    position: relative;
    padding: 20px 50px;
}

.big-title {
    color: black;
    font-size:  80px;
    font-family: 'Abril FatFace', cursive;
    font-weight: 100;
    width: 60%;
}